---
import ProjectCard, { type Badge } from "./ProjectCard.astro";
export type ProjectsT = [string, string, string, Badge[]?, boolean?][];

const { projects } = Astro.props as {
    projects: ProjectsT;
};
---

<div class="projects-container">
    {
        projects.map(([repo, description, image, badges, hasWebsite]) => (
            <ProjectCard
                project_repo={repo}
                project_description={description}
                project_logo={image}
                project_badges={badges}
                hasWebsite={hasWebsite}
            />
        ))
    }
</div>

<style>
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
