---
import { textColor } from "../layouts/Layout.astro";
import { stars_badge, license_badge, top_language_badge } from "../utils.astro";
import { type Badge } from "../utils.astro";
const {
    project_description,
    project_logo,
    project_repo,
    hasWebsite,
    project_badges,
} = Astro.props as {
    project_description: string;
    project_logo: string;
    project_repo: string;
    project_badges: Badge[] | undefined;
    hasWebsite: boolean | undefined;
};

const badges = project_badges || ["top_language", "stars", "license"];

const project_name: string = project_repo.split("/")[1];
const project_repo_link = "https://github.com/" + project_repo;

const project_website_link = hasWebsite
    ? "/project/" + project_name
    : project_repo_link;

const badges_parsed: string[] = badges
    .map((badge) => {
        switch (badge) {
            case "stars":
                return stars_badge;
            case "license":
                return license_badge;
            case "top_language":
                return top_language_badge;
        }
    })
    .map((f) => f(project_repo));
---

<div class="project-card">
    <a href={project_repo_link}>
        <img src={project_logo} class="project-logo" /></a
    >
    <a href={project_website_link}
        ><h2 class="project-name">{project_name}</h2></a
    >
    <p class="project-description">{project_description}</p>
    <div class="project-badges">
        {
            badges_parsed.map((badge) => (
                <a href={project_repo_link}>
                    <img src={badge} class="project-badge" />
                </a>
            ))
        }
    </div>

    <style define:vars={{ textColor }}>
        .project-card {
            padding: 0.5rem;
            text-align: center;
            flex-basis: 40%;
        }

        .project-logo {
            border-radius: 30%;
            margin: auto;
            height: 7rem;
        }

        .project-description {
            margin: auto;
            max-width: 10rem;
        }

        .project-name {
            margin: auto;
            padding-bottom: 0.5rem;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .project-badges {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
        }
        .project-badge {
            padding: 3px;
        }
        a {
            text-decoration: none;
            color: var(--textColor);
        }
    </style>
</div>
